# Probability for Winning the Lottery

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. 

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018.

Dataset available on Kaggle - [Dataset](https://www.kaggle.com/datascienceai/lottery-dataset)

## Functions

In [1]:
#factorials
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

In [2]:
#combinations
def combinations(n,k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator / denominator

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49).

In [3]:
def one_ticket_probability(numbers):
    total_outcomes = combinations(49, 6) #There are 49 possible numbers, and six numbers are sampled without replacement.
    successful_outcome = 1 / total_outcomes #there is only one winning number selection
    probability_winning = (successful_outcome / total_outcomes) *100
    print(f"You're chances of winning are {probability_winning}%!")

Now to test the function

In [16]:
test_1 = [1,4,32,38,5,18]
one_ticket_probability(test_1)

You're chances of winning are 5.113857220388566e-13%!

In [17]:
test_2 = [10, 32,28,9,18,1]
one_ticket_probability(test_2)

You're chances of winning are 5.113857220388566e-13%!

## Historical Lotto Data

Above, we wrote a function that can tell users what is the probability of winning the big prize with a single ticket. For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

Now, we'll focus on exploring the historical data coming from the Canada 6/49 lottery.

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

- NUMBER DRAWN 1
- NUMBER DRAWN 2
- NUMBER DRAWN 3
- NUMBER DRAWN 4
- NUMBER DRAWN 5
- NUMBER DRAWN 6

In [20]:
import pandas as pd

lotto_649 = pd.read_csv("national_lottery_649.csv")

lotto_649.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [21]:
lotto_649.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [22]:
lotto_649.shape

(3665, 11)

## Function for Lotto Checker
We need to be aware of the following details:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
     - the number of times the combination selected occurred in the Canada data set; and
     - the probability of winning the big prize in the next drawing with that combination.

In [24]:
#extract all the winning six numbers from the historical data
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row


winning_numbers = lotto_649.apply(extract_numbers, axis = 1)
winning_numbers

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
                  ...
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

In [30]:
def check_historical_occurence(user_nums , historical_nums):
    '''
    user_numbers: a Python list
    historical numbers: a pandas Series
    '''
    
    user_nums_set = set(user_nums)
    check_match = historical_nums == user_nums_set
    number_occurence = check_match.sum() #total sum number of TRUE occurences appear
    
    if number_occurence == 0:
        print(f"""
        The combination {user_nums} did not happen at any time.""")
        
    else:
        print(f"""
        The number of times the combination {user_nums} appeared in the past is {number_occurence}.""")

Test the function:

In [28]:
test_3 = [22,33,1,4,25,14]
check_historical_occurence(test_3, winning_numbers)

        The combination [22, 33, 1, 4, 25, 14] did not happen at any time.

Here if we select a random 6 numbers we see that the combination didn't appear once.

In [29]:
test_4 = [3,41,11,12,43,14]
check_historical_occurence(test_4, winning_numbers)

        The number of times the combination [3, 41, 11, 12, 43, 14] appeared in the past is 1.

We can see that provide the exact numbers that won in the first row the function outputted it would win. Function is working.

So far, we wrote two functions:

one_ticket_probability() — calculates the probability of winning the big prize with a single ticket
check_historical_occurrence() — checks whether a certain combination has occurred in the Canada lottery data set
Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — now, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

The following information holds,

- The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
- Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
- The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [21]:
def multi_ticket_probability(n_tickets_played):
    total_outcomes = combinations(49, 6) #There are 49 possible numbers, and six numbers are sampled without replacement.
    successful_outcome = n_tickets_played / total_outcomes
    probability_n_tickets = (successful_outcome / total_outcomes) *100
    
    if n_tickets_played == 1:
        print('''Your chances to win the big prize with one ticket are {:.6f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(probability_n_tickets, int(total_outcomes)))
    
    else:
        combinations_simplified = round(total_outcomes / n_tickets_played)   
        print('''Your chances to win the big prize with {:,} different tickets are {:.6f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(n_tickets_played, probability_n_tickets,
                                                               combinations_simplified))

In [25]:
def multi_ticket_probability(n_tickets_played):
    total_outcomes = combinations(49, 6) #There are 49 possible numbers, and six numbers are sampled without replacement.
    successful_outcome = n_tickets_played / total_outcomes
    probability_n_tickets = (successful_outcome / total_outcomes) *100
    combinations_simplified = round(total_outcomes / n_tickets_played)   
    print('''Your chances to win the big prize with {:,} different tickets are 1 in {:,} chances to win.'''.format(n_tickets_played,
                                                               combinations_simplified))

In [20]:
multi_ticket_probability(5)

Your chances to win the big prize with 5 different tickets are 1 in 2,796,763 chances to win.

Test function:

In [26]:
test_inputs = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for tickets in test_inputs:
    multi_ticket_probability(tickets)
    print("""
    ----------------------
    """)

Your chances to win the big prize with 1 different tickets are 1 in 13,983,816 chances to win.

    ----------------------

Your chances to win the big prize with 10 different tickets are 1 in 1,398,382 chances to win.

    ----------------------

Your chances to win the big prize with 100 different tickets are 1 in 139,838 chances to win.

    ----------------------

Your chances to win the big prize with 10,000 different tickets are 1 in 1,398 chances to win.

    ----------------------

Your chances to win the big prize with 1,000,000 different tickets are 1 in 14 chances to win.

    ----------------------

Your chances to win the big prize with 6,991,908 different tickets are 1 in 2 chances to win.

    ----------------------

Your chances to win the big prize with 13,983,816 different tickets are 1 in 1 chances to win.

    ----------------------

## Smaller Winning Options

In most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.


- Inside the app, the user inputs:
    - six different numbers from 1 to 49; and
    - an integer between 2 and 5 that represents the number of winning numbers expected
- Our function prints information about the probability of having the inputted number of winning numbers.


To calculate the probabilities, the specific combination on the ticket is irrelevant and we only need the integer between 2 and 5 representing the number of winning numbers expected. Consequently, we will write a function named probability_less_6() which takes in an integer and prints information about the chances of winning depending on the value of that integer.

The function below calculates the probability that a player's ticket matches exactly the given number of winning numbers. If the player wants to find out the probability of having five winning numbers, the function will return the probability of having five winning numbers exactly (no more and no less). The function will not return the probability of having at least five winning numbers.

In [54]:
def probability_less_6(n_winning_numbers):
    
    n_combinations_ticket = combinations(6, n_winning_numbers) 
    n_combinations_remaining = combinations(43, 6 - n_winning_numbers) 
    successful_outcome = n_combinations_ticket * n_combinations_remaining
    
    total_outcomes = combinations(49, 6) #There are 49 possible numbers, and six numbers are sampled without replacement.
    probability = successful_outcome / total_outcomes
    probability_n_tickets = probability *100

    
    combinations_simplified = round(total_outcomes / successful_outcome)   
    print('''
    Your chances to win the big prize with {:,} different tickets are {:.6f}%.
    In other words, you have a 1 in {:,} chances to win.'''.format(n_winning_numbers, probability_n_tickets,
                                                               combinations_simplified))

Test function:

In [55]:
winning_nums = [2,3,4,5]

for num in winning_nums:
    probability_less_6(num)
    print("""
    ---------------------
    """)

    Your chances to win the big prize with 2 different tickets are 13.237803%.
    In other words, you have a 1 in 8 chances to win.

    ---------------------


    Your chances to win the big prize with 3 different tickets are 1.765040%.
    In other words, you have a 1 in 57 chances to win.

    ---------------------


    Your chances to win the big prize with 4 different tickets are 0.096862%.
    In other words, you have a 1 in 1,032 chances to win.

    ---------------------


    Your chances to win the big prize with 5 different tickets are 0.001845%.
    In other words, you have a 1 in 54,201 chances to win.

    ---------------------

## Final thoughts
We were able to define 4 functions that can understand probability of winning the lottery:

1. one_ticket_probability() — calculates the probability of winning the big prize with a single ticket
2. check_historical_occurrence() — checks whether a certain combination has occurred in the Canada lottery data set
3. multi_ticket_probability() — calculates the probability for any number of of tickets between 1 and 13,983,816
4. probability_less_6() — calculates the probability of having two, three, four or five winning numbers exactly